body {
  background: url("10817.jpg");
  background-size: cover;
  background-position: center; 
  transition: background 1.5s linear;
}

.bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

body,
html {
  width: 100%;
  height: 100%;
  /*font-family: "Lato";*/
  color: white;
}

h1 {
font-weight: 700;
font-size: 5em;
}


.content{
padding-top: 20%;
text-align: center;
}

.content h1, .content h3{
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
               0px 8px 13px rgba(0,0,0,0.1),
               0px 18px 23px rgba(0,0,0,0.1);
}

hr {
  width: 400px;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}